<!DOCTYPE html>
<html>
  <head>
    {% include 'bootstrap.html' %}
    <title>
      {{job.title}} - Jovian Careers
    </title>
  </head>
  <body>
      <h3>
        Title
      </h3>
    <p>
      {{job.title}}
    </p>
    <h3>
      Location
    </h3>
    <p>
      {{job.location}}
    </p>
    <h3>
      Salary
    </h3>
    <p>
      {{job.currency}}{{job.salary}}
    </p>
    <h3>
      Responsibilities
    </h3>
    <ul>
      {% for line in job.responsibilities.split(".") %}
      <li>
        {{line}}
      </li>
      {% endfor%}
    </ul>
   
    <h3>
      Requirements
    </h3>
   <ol>
     {% for line in job.requirements.split(".") %}
     <li>
       {{line}}
     </li>
     {% endfor %}
   </ol>
  </body>
   <div class="text-center">
        <button class="btn btn-primary btn -lg">Contact Us</button>
        <p class="mt-4">Copyright 2022 Jovian</p>
      </div>
</html>